cmake-build-release/
cmake-build-debug/
*.o
interfaces/python/lib/
CMakeLists.txt
local_computation/
.dir-locals.el

build/
.clangd/
.vscode/
compile_commands.json
interfaces/BigWhamLink/BigWhamLink/LibraryResources/Source/LTemplate-HmatExpressions.cpp
interfaces/BigWhamLink/BigWhamLink/LibraryResources/Linux-x86-64/HmatExpressions.so
interfaces/BigWhamLink/BigWhamLink/LibraryResources/Source/LTemplate-HmatExpressions.cpp
interfaces/BigWhamLink/BigWhamLink/LibraryResources/Source/LTemplate-HmatExpressions.cpp
/build_debug/
